.navbar{
  position: fixed;
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: right;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
  z-index: 1;
  background-color: rgba(0,0,0,1);
}
  
.nav{
  display: inline-block;
  text-align: right;
  float: none;
  justify-content: right;
  list-style: none;
  margin-right: 15%;
  margin-bottom: 15px ;
  background: none !important;
  text-transform: uppercase;
  
}

.logo{
  float: left;
  width: 37%;
  height: 37%;
  flex: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.container-fluid{
  padding: 0;
}

.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(1, 2, 3, 0);
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
  }
  
.hoverable:before{
  position: absolute;
  pointer-events: none;
  z-index:-1;
  content: '';
  top: 100%;
  left: 5%;
  height:10px;
  width:90%;
  opacity:0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}
  
.hoverable:hover, .hoverable:active, .hoverable:focus{
  transform: translateY(-5px);
}
.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
  opacity: 1;
  transform: translateY(-5px);
}



@keyframes bounce-animation {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}

/* @media (min-width: 768px) {
  .navbar{
    text-align: center !important;
    float: none;
    display: inline-block;
  }
} */

body {
  margin: 0%;
  padding: 0%;
  background-color: rgba(0,0,0,1);
  font-weight:600;
  text-align:center !important;
  color: white;
}

.page-title {
  opacity: .75 !important;
}  
